.row4
  .wrapper.container
    - if daar?
      DAAR Personal Service GmbH,
      Hegelallee&nbsp;1,
      14467 Potsdam
    - else
      Work On Personal Ltd.,
      71 Sutton Hall Road, Hounslow,
      TW5 OPX London
    - if daar?
      %br
      %strong= link_to "AGB f端r Arbeitnehmer端berlassung", "/AGB-Arbeitnehmer端berlassung.pdf", :target => "_blank"
      &bull;
      %strong= link_to "AGB f端r Personalvermittlung", "/AGB-Personalvermittlung.pdf", :target => "_blank"
      &bull;
      %strong= link_to "Datenschutz", "/Datenschutz.pdf", :target => "_blank"
    - if logged_in?
      &bull;
      %strong= link_to "Log out", '/log-out'
    <br/>
    = "Visited " + pluralize(Visit.count, "time") + "."
