.row.magic_orbs
  .col-sm-4
    %h3= link_to t("candidate"), '/offers/pl'
    = link_to (image_tag 'magic_orb1.jpg', :class => "magic_orbs--circle img-responsive img-circle circle-block"), "/offers/pl"
  .col-sm-4
    %h3= link_to t("employer"), '/pracodawca'
    = link_to (image_tag 'magic_orb2.jpg', :class => "magic_orbs--circle img-responsive img-circle circle-block"), "/pracodawca"
  .col-sm-4
    %h3= link_to "Kontakt", '/contact/pl'
    = link_to (image_tag 'magic_orb4.jpg', :class => "magic_orbs--circle img-responsive img-circle circle-block"), "/kontakt"
