.col-sm-5
  %h3= t("dane_kontaktowe")
  %p
    DAAR Personal Service GmbH,<br />
    Hegelallee&nbsp;1,<br />
    14467 Potsdam<br />
    = t("tel")
    +49 36462 92715<br/>
    = t("handy")
    +49 173 1552620<br/>
    = t("email")
    biuro&#64;daar-ps&#46;de<br/>
    = link_to "www.daar-ps.de", "http://www.daar-ps.de"

  %p
    %strong= t("personaldisponentin")
    %br
    %strong Jolanda Beier<br>
    = t("tel")
    +49 173 1552620
    = t("email")
    jolanda&#46;beier&#64;daar-ps&#46;de

  %p
    %strong= t("konsultanci")
    %br
    %strong Dariusz Wierzbicki<br/>
    -#= t("tel")
    -#+49 36462 92715<br/>
    = t("handy")
    +48 614 152 511<br/>
    = t("handy")
    +49 17621230236<br/>
    = t("email_short")
    dariusz&#46;wierzbicki&#64;daar-ps&#46;de

  %p
    %strong Agnieszka Młynarczyk<br/>
    = t("tel")
    +48 518 461 875<br/>
    = t("email_short")
    agnieszka&#46;mlynarczyk&#64;op&#46;pl

  %p
    %strong= t("owner")
    %br
    %strong Rafał Szczęsny
    &mdash; Geschäftsführer<br/>
    %strong Anna Staniecka
    &mdash; Geschäftsführerin<br/>
