<!DOCTYPE html>
%html
  %head
    %title= @title ? @title + " — " + domain_for_title : domain_for_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track' => true
    <meta name="google-site-verification" content="M70iF7NkIEhXPFLk0go9CH_sf7NTRmTv5v0kd8mQ-xg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    = csrf_meta_tags

  %body
    = render "shared/row2"
    = render "shared/row1"
    .row3
      .wrapper.container
        - flash.each do |key, value|
          %div{:class => "row2__flashbox alert alert-#{key}"}= value
        - unless logged_in?
          = link_to "Edytuj stronę", new_page_path
        = yield
    = render "shared/row4"
    = render 'shared/ga'
